@value accent from '@config/colors.module.css';
@value primary from '@config/colors.module.css';
@value button-border from '@config/colors.module.css';

/* /////////////////////////////////////////// */

.direct-item {
  @apply flex flex-row;
  @apply px-[20px] py-[15px];
  @apply relative cursor-pointer;
  @apply justify-between items-center;
}

.direct-item:hover {
  @apply bg-[#F3F4F6];
}

.direct-item::before {
  content:"";
  background: button-border;
  @apply left-[5%] bottom-[0px];
  @apply absolute h-[1px] right-[5%];
}

.direct-item:last-child:before {
  content:none;
}

/* /////////////////////////////////////////// */

.img-wrapper {
  @apply flex flex-none;
  @apply border border-black;
  @apply w-[60px] h-[60px] rounded-full;
}

.img {
  @apply w-auto h-full object-cover;
}

.img-border {
  @apply overflow-hidden;
  @apply w-[56px] h-[56px];
  @apply border-[2px] m-auto;
  @apply border-white rounded-full;
}

.img-placeholder{
  border-color: accent;
  @apply w-[52px] h-[52px];
  @apply rounded-[50%] border-[5px] m-auto;
}

/* /////////////////////////////////////////// */

.content-wrapper {
  @apply ml-[17px] flex-1 overflow-hidden;
}

.meta {
  @apply flex flex-row justify-between;
}

.meta-company {
  @apply text-[9px] font-bold uppercase;
  color: accent;
}

.meta-date {
  color: primary;
  @apply text-[9px];
}

/* /////////////////////////////////////////// */

.part {
  @apply text-[16px] font-bold;
}

.last-message {
  color: primary;
  @apply text-[10px] overflow-hidden;
  @apply overflow-ellipsis whitespace-nowrap;
}

/* /////////////////////////////////////////// */