@value accent from '@config/colors.module.css';
@value primary from '@config/colors.module.css';
@value button-border from '@config/colors.module.css';

/* /////////////////////////////////////////// */

.container {
  @apply flex flex-col flex-1;
}

.row {
  @apply flex flex-row flex-1;
}

/* /////////////////////////////////////////// */

.direct {
  @apply flex flex-col;
  @apply w-[400px] h-[100%] border-r-[1px];
}

.direct-title {
  @apply text-[21px] font-medium ml-[14px];
}

/* /////////////////////////////////////////// */

.direct-item {
  @apply flex flex-row;
  @apply px-[20px] py-[15px];
  @apply relative cursor-pointer;
  @apply justify-between items-center;
}

.direct-item:hover {
  @apply bg-[#F3F4F6];
}

.direct-item::before {
  content:"";
  background: button-border;
  @apply left-[5%] bottom-[0px];
  @apply absolute h-[1px] right-[5%];
}

.direct-item:last-child:before {
  content:none;
}

/* /////////////////////////////////////////// */

.img-wrapper {
  @apply flex flex-none;
  @apply border border-black;
  @apply w-[60px] h-[60px] rounded-full;
}

.img {
  @apply w-auto h-full object-cover;
}

.img-border {
  @apply overflow-hidden;
  @apply w-[56px] h-[56px];
  @apply border-[2px] m-auto;
  @apply border-white rounded-full;

}

.img-placeholder{
  border-color: accent;
  @apply w-[52px] h-[52px];
  @apply rounded-[50%] border-[5px] m-auto;
}

/* /////////////////////////////////////////// */

.content-wrapper {
  @apply ml-[17px] flex-1 overflow-hidden;
}

.meta {
  @apply flex flex-row justify-between;
}

.meta-company {
  @apply text-[9px] font-bold uppercase;
  color: accent;
}

.meta-date {
  color: primary;
  @apply text-[9px];
}

/* /////////////////////////////////////////// */

.part {
  @apply text-[16px] font-bold;
}

.last-message {
  color: primary;
  @apply text-[10px] overflow-hidden;
  @apply overflow-ellipsis whitespace-nowrap;
}

.direct-button {
  @apply mb-[30px] max-w-[158px] m-auto;
}

/* /////////////////////////////////////////// */

.messages {
  @apply flex flex-col flex-1;
  @apply relative mb-[10px] mt-[30px];
}

.message {
  @apply relative bg-[#EDEEF0];
  @apply px-[15px] py-[17px] mx-[50px] my-[20px] ;
  @apply max-w-[360px] min-w-[130px] rounded-[12px];
}

.message::after {
  content: '';
  @apply absolute bottom-[0px];
  @apply border-[24px] border-solid border-transparent;
  border-bottom: 16px solid #EDEEF0;
}

.message-left {
  @apply self-start;
}
.message-left::after {
  @apply left-[-24px];
}

.message-right {
  @apply self-end;

}
.message-right::after {
  @apply right-[-24px];
}

.message-islast::after {
  content: none;
}

.message-content {
  @apply pt-[10px] mb-[10px];
}

/* /////////////////////////////////////////// */

.thumbs-container {
  @apply flex flex-wrap overflow-hidden;
}
.thumb-large {
  @apply rounded-[12px];
  @apply w-[160px] h-[160px] mb-[10px];
  @apply overflow-hidden cursor-pointer;
}

.thumb-large:first-child {
  @apply mr-[10px];
}
.thumb-large:last-child {
  @apply mr-[0px];
}

.thumb-small {
  @apply rounded-[12px];
  @apply overflow-hidden cursor-pointer;  
  @apply w-[104px] h-[104px] mb-[5px] mr-[9px] ;
}

.thumb-small:last-child {
  @apply mr-[0px] relative;
}

.thumb-plus::after {
  content: "+";
  @apply w-[100%] h-[100%];
  @apply absolute top-[50%] left-[50%]; 
  @apply text-center text-[50px] leading-[104px];
  @apply transform translate-x-[-50%] translate-y-[-50%]; 
  @apply text-[rgba(255,255,255,0.6)] bg-[rgba(0,0,0,0.6)];
  
}

.img-previews  {
  @apply w-[100%] h-[100%] object-cover;
};

/* /////////////////////////////////////////// */

.avatar {
  @apply absolute top-[-17px];
  @apply border-white overflow-hidden;
  @apply w-[35px] h-[35px] rounded-full border-[2px];
}

.avatar-left {
  @apply right-[-17px];
}

.avatar-right {
  @apply left-[-17px];
}

.avatar-placeholder{
  border-color: accent;
  @apply border-[5px] m-auto bg-white;
  @apply w-[30px] h-[30px] rounded-[50%];
}

/* /////////////////////////////////////////// */

.company {
  @apply absolute top-[-6px] text-[9px];
  @apply text-[#1E1E1E] font-bold uppercase;
}

.company-left {
  @apply right-[30px];
}

.company-right {
  @apply left-[30px] text-[#006FFF];
}

/* /////////////////////////////////////////// */

.time {
  color: primary;
  @apply absolute text-[9px];
}

.time-left {
  @apply left-[20px] top-[-6px];
}

.time-right {
  @apply right-[37px] bottom-[10px];
}

/* /////////////////////////////////////////// */

.input {
  @apply relative h-[45px] mx-[150px];
  @apply mb-[16px] mt-[30px] overflow-hidden;
}

.textinput {
  @apply absolute; 
}

.textinput > div {
  @apply mt-[0px] rounded-full border py-[7px] !important;
}

.textinput input {
  @apply pl-[45px];
}

/* /////////////////////////////////////////// */

.button {
  @apply absolute right-[4px] top-[6px];
  @apply rounded-full border bg-[#EDEEF0];
}

.button div {
  @apply flex-row space-x-1 !important;
}

.button svg {
  @apply transform rotate-90 scale-x-[1.5] scale-y-[1.2];
}

/* /////////////////////////////////////////// */

.icon {
  @apply absolute top-[6px] left-[4px] p-[8px];
  @apply rounded-full border bg-[#EDEEF0] min-w-0;
}

.icon div[data-role="icon"] {
  @apply mr-[0px] !important;
}

/* /////////////////////////////////////////// */

.dropzone {
  @apply flex items-center justify-center;
  @apply absolute bottom-[90px] max-w-[50%];
  @apply left-[5%] right-[5%] m-auto h-[200px];
}

.dropzone-active {
  @apply border-[2px] rounded-[2px];
  @apply bg-[#fafafa] text-[#bdbdbd] outline-none;
  @apply border-[#eeeeee] border-dashed max-w-[90%];
}

.dropzone-title{
  @apply hidden;
}
.dropzone-active  > .dropzone-title{
  @apply block;
}

.dropzone-container {
  @apply flex max-h-[200px] bg-[#EDEEF0] mx-auto my-[0px];
}

.dropzone-thumb  {
  @apply w-[180px] h-[180px];
  @apply rounded-[12px] my-[10px] mr-[10px];
  @apply overflow-hidden object-cover cursor-pointer;
}

.dropzone-thumb:first-child  {
  @apply ml-[10px];
}

.dropzone-img  {
  @apply w-[100%] h-[100%] object-cover;
}

/* /////////////////////////////////////////// */

