@value accent from '@config/colors.module.css';
@value primary from '@config/colors.module.css';

/* /////////////////////////////////////////// */

.message {
  @apply relative bg-[#EDEEF0];
  @apply px-[15px] py-[12px] mx-[50px] my-[20px] ;
  @apply max-w-[360px] min-w-[130px] rounded-[12px];
}

.message::after {
  content: '';
  @apply absolute bottom-[0px];
  @apply border-[24px] border-solid border-transparent;
  border-bottom: 16px solid #EDEEF0;
}

.message-left {
  @apply self-start;
}
.message-left::after {
  @apply left-[-24px];
}

.message-right {
  @apply self-end;

}
.message-right::after {
  @apply right-[-24px];
}

.message-islast::after {
  content: none;
}

.message-content {
  @apply py-[3px];
}

/* /////////////////////////////////////////// */

.thumbs-container {
  @apply flex flex-wrap overflow-hidden;
}
.thumb-large {
  @apply rounded-[12px];
  @apply w-[160px] h-[160px] mb-[10px];
  @apply overflow-hidden cursor-pointer;
}

.thumb-large:first-child {
  @apply mr-[10px];
}
.thumb-large:last-child {
  @apply mr-[0px];
}

.thumb-small {
  @apply rounded-[12px];
  @apply overflow-hidden cursor-pointer;  
  @apply w-[104px] h-[104px] mb-[5px] mr-[9px] ;
}

.thumb-small:last-child {
  @apply mr-[0px] relative;
}

.thumb-plus::after {
  content: "+";
  @apply w-[100%] h-[100%];
  @apply absolute top-[50%] left-[50%]; 
  @apply text-center text-[50px] leading-[104px];
  @apply transform translate-x-[-50%] translate-y-[-50%]; 
  @apply text-[rgba(255,255,255,0.6)] bg-[rgba(0,0,0,0.6)];
  
}

.img-previews  {
  @apply w-[100%] h-[100%] object-cover;
};

/* /////////////////////////////////////////// */

.avatar {
  @apply absolute top-[-17px];
  @apply border-white overflow-hidden;
  @apply w-[35px] h-[35px] rounded-full border-[2px];
}

.avatar-left {
  @apply right-[-17px];
}

.avatar-right {
  @apply left-[-17px];
}

.avatar-placeholder{
  border-color: accent;
  @apply border-[6px] m-auto bg-white;
  @apply w-[30px] h-[30px] rounded-[50%];
}

/* /////////////////////////////////////////// */

.company {
  @apply absolute top-[-6px] text-[9px];
  @apply text-[#1E1E1E] font-bold uppercase;
}

.company-left {
  @apply right-[30px];
}

.company-right {
  @apply left-[30px] text-[#006FFF];
}

/* /////////////////////////////////////////// */

.time {
  color: primary;
  @apply absolute text-[9px];
}

.time-left {
  @apply left-[20px] top-[-6px];
}

.time-right {
  @apply right-[30px] bottom-[3px];
}

/* /////////////////////////////////////////// */
